.popup__container{
  width: 100%;
  max-width: 430px;
  height: 100%;
  max-height: 330px;
  background-color: white;
  color: black;
  z-index: 2;
  position: absolute;
  left:calc(50% - 215px);
  top:calc(50% - 165px);
  display: flex;
  display: none;
  flex-direction: column;
}

@media screen and (max-width: 882px) {
  .popup__container{
    max-width: 282px;
    max-height: 322px;
    left:calc(50% - 141px);
    top:calc(50% - 161px);
  }
}